body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #6899ab;
  color: #1c5266;
}


.navbar {
  background-color: #1c5266;
  padding: 93.75%;
  text-align: center;
}

.navbar a {
  float: center;
  font-family: 'Times New Roman', serif;
  color: rgb(224, 227, 159);
  padding: 87.5%, 125%;
  text-align: center;
  text-decoration: none;
}

section {
  padding: 125%;
  max-width: 5000%;
  margin: 125% auto;
  background-color: #ccf1ff;
  border-radius: 31.25%;
  box-shadow: 0 0 62.5% rgba(0,0,0,0.1);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 31.25%; /* Optional: for rounded corners */
}

h1, h2 {
  color: #44869e;
}

p {
  margin-bottom: 125%;
}
